.fav-contact-list{
    height: 100%;
    width: 100%;
    margin: 7px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #d7dcdf;
    overflow-y: scroll;
}

.fav-contact-list p,
.fav-contact-list h2,
.fav-contact-list .fa-solid {
    color: #646464;
}

.fav-contact-list .fa-solid {
    margin-right: 15px;
    cursor: pointer;
}

.fav-contact-list table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.fav-contact-list th,
.fav-contact-list td{
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.fav-contact-list .profile-img-box {
    margin-right: 0px;
    margin-left: 10px;
}

.fav-contact-list .profile-img-box{
    margin-right: 20px;
    margin-left: 10px;
}

.contact-list .red-heart{
    color: rgb(239, 50, 50);
}